{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet"  href="{{url_for('static', filename='css/test.css')}}"/>
    <!-- <link rel="stylesheet"  href="../static/css/sa.jpg" type="jpg"> -->
    <!-- <link rel="stylesheet"  href="../static/css/over.png" type="png"> -->

    <style>
        body {
            background-size: cover; /*自适应浏览器*/
        }
        .main{
        text-align: center; /*让div内部文字居中*/
        /*background-color: #fff;*/
        /*border-radius: 20px;*/
        /*margin: auto;*/
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*right: 0;*/
        /*bottom: 0;*/
        }
    </style>
{% endblock %}


{% block content %}

    <div id="main">
        <h1>签到中...</h1>
        <img src="{{ url_for('video_feed') }}" style="height:400px%; width: 40%" />
        <button><a href="index#2">返回</a></button>
    </div>
{% endblock %}